# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# ML files (keep these - needed for deployment)
# *.pkl
# *.joblib

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.env.local

# Node / Frontend
node_modules/
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store